.header {
    background-color: #eecf66;
    height: 200px;
}

.header h1 {
    color: #fff;
    font-weight: 100;
}

.banner {
    height: 100px;
    background-color: #ffffff;
}

.banner h3 {
    font-weight: 200;
}



.breweries {
    background-color: #ededed;
    line-height: 100px;
}

#breweryContainer {
    text-align: center;
}

#map {
    height: 100%;
    height: 500px;
    display: none;
}

.bubbles {
}
.particle {
     opacity:0;
     position: absolute;
     background-color:rgba(33,150,243,0.5);
     animation: bubbles 3s ease-in infinite;
     border-radius:100%;
 }

.locals {
    text-align: center;
}

.locations {
    height: 300px;
    line-height: 300px;
    background-color: #eecf66;
}