<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="Index.html">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="DisableCache" />
            </staticContent>
        </system.webServer>
    </location>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="File Rule" stopProcessing="false">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" pattern="(.*?)\.html$" negate="true" />
                        <add input="{REQUEST_FILENAME}" pattern="(.*?)\.js$" negate="true" />
                        <add input="{REQUEST_FILENAME}" pattern="(.*?)\.css$" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}" />
                </rule>
                <rule name="Main Rule" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>